
@mixin fl-container ($direction: row, $inline: false) {
  @if ($inline) {
    display: flex-inline;
  } @else {
    display: flex;
  }

  flex-direction: $direction;
  flex-wrap: nowrap;
  align-content: stretch;
  @if ($direction == row) {
  } @elseif ($direction == row-reverse) {
  } @elseif ($direction == column) {
  } @elseif ($direction == column-reverse) {
  }
}

@mixin flex-fit () { 
  flex-grow: 1;
  flex-basis: fit-content;
  // overflow: auto;
}